spring:
  datasource:
    url: jdbc:mysql://localhost:3306/expense_tracker
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  name: Expense Tracker API
  pagination:
    default-size: 20

logging:
  level:
    org.springframework.security: DEBUG
